/* Body.css */

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: serif ;

  }
  
  .content {
    text-align: center;
    color: #fce1d0;
    margin-top: -200px;
  }

  .content p {
    font-weight: 1000;
font-size: medium;
  }
  
  h2 {
    font-size: 4rem;
    color: #fce1d0;
    /* margin-bottom: 1rem; */
  }
  h3 {
    font-size: 1rem;
    color: #fce1d0;
    margin-bottom: 1rem;
  }
  
  .description {
    margin: 1rem ;
    font-weight: 1000;
    font-size: larger;
  }
/*   
  .divider {
    width: 100px;
    height: 2px;
    background-color: #ccc;
    margin: 0 auto;
  } */
  
  .buttons {
    margin-top: 1.5rem;
  }
  
  .shop-button,
  .explore-button {
    padding: 10px 40px;
    margin: 0 60px;
    background-color: #8B4513; /* Leather brown color */
    color: #fce1d0;
    border: none;
    cursor: pointer;
    font-family: serif ;
    font-weight: 1000;
    font-size: large;
  }
  
  /* .explore-button {
    background-color: transparent;
    border: 2px solid #8B4513; 
    color: #fce1d0;
  } */
  