.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    /* margin-top: -150px;   */
}

.logo h1 {
  margin-top: -60px;
}

  .logo img {
    width: 200px;
    height: 200px;
    margin-top: -80px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: auto;
    margin-right: 400px;
    margin-top: -20px;
    
  }
  
  .nav-links li {
    margin-right: 40px;
    margin-top: 40px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease-in-out;
    font-weight: 600;
    font-size: large;
    
    
  }
  
  .nav-links a:hover {
    color: #ff9900; /* Change this color to your desired hover color */
  }
  